*{
   
    padding: 0;
    margin: 0;

}

body
{ background-color: #1a1a1a;}
.banner{
    height: 400px;
    width: 850px;
    background-image: url("./assents/banner.png"); /*ele adiciona uma imagem de fundo*/
    background-repeat:no-repeat ;
    background-size: cover;
    display: flex;
    align-items: center;
  
    
    

}
li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 20px;

}

ul{
    display: flex; /*ativa a propriedade de alinhamento*/
    flex-direction: row; /*coloca os ele*/
}

li{

list-style: none; /*remove os pontos*/
}
nav{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}


#logo{

    height: 100px;
    width: 100;
}

.bi{
     font-size: 35px;
     color: #4c544c;

}

.texto-banner{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 20px;
    
    
    

    
    
}
.button{

   width: 130px;
   height: 30px;
   color: #ffffff;
   border-radius: 55px; /*deixa a borda redonda*/
   border: none; /*serve oara remover a borda*/
   font-weight: bold;
   font-size: 19px;
   background-color: #333333;
   


}

