*{
    background-color: #1a1a1a;
    padding: 0;
    margin: 0;

}


#banner{
    height: 400px;
    width: 800px;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 20px;

}

ul{
    display: flex; /*ativa a propriedade de alinhamento*/
    flex-direction: row; /*coloca os ele*/
}

li{

list-style: none; /*remove os pontoa*/

}

#logo{

    height: 100px;
    width: 100;
}