*{
    background-color: #1a1a1a;
    padding: 0;
    margin: 0;

}


#banner{
    height: 400px;
    width: 800px;
}
li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

#logo{

    height: 100px;
    width: 100;
}